@font-face {
    font-family: 'RotondaBold';
    src: url("../fonts/RotondaBold.woff") format("woff"),
         url("../fonts/RotondaBold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.stroke {
   
    text-shadow: white 1px 1px 0, white -1px -1px 0, 
                 white -1px 1px 0, white 1px -1px 0;
   }
   
/*MAIN*/
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: rgb(251, 243, 235) !important;
    overflow-x: hidden;
}

.wrapper {
    min-height: 100%;
}

/* HEADER */
header {
    background: url(../images/шапка.png);
    background-repeat: repeat-x;
    background-size: auto;
    height: 220px;
}

header .row {
    padding-top: 20px;
}

.logo {
    display: inline-block;
    margin: auto;
}

#right-col .button {
    width: 290px;
}

.button {
    border-radius: 25px;
    padding: 4px 10px 4px 10px;
    margin: 5px;
    display: inline-block;
}

.container-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bl-btn {
    background-color: rgb(239, 245, 248);
}

.wht-btn {
    background-color: white;
}

.text-blue {
    color: rgb(60, 122, 151);
    font-weight: 500;
}

.text-white {
    color: white;
    font-weight: 500;
}

#phone-num {
    width: 300px;
    display: block;
}

#clock {
    margin-right: 10px;
}

#callback {
    position: relative;
}

#callback span {
    width: 100%;
    text-align: center;
    margin-right: 40px;
}

#phone {
    position: absolute;
    right: 0;
    width: 50px;
}

.input-group {
    position: relative;
    width: 280px !important;
}

.input-box {
    width: 280px;
    border-radius:20px;
    outline: none;
    padding: 0px 20px 5px 20px;

}

#search-button {
    background: url(../images/лупа.png) no-repeat center;
    background-size: 100%;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 3px;
    top: 5px;
}

.btn-group {
    width: 290px !important;
    margin: 10px 0 10px 0;
}

.button-text {
    position: relative;
    padding-left: 25px;
}

#about::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/иконка-гуся.png) no-repeat center;
    background-size: contain;
}

#delivery::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/иконка-машин.png) no-repeat center;
    background-size: contain;
}

.tagline { display: block; }

.tagline > h4, h5 { margin: 0; }

.tagline-text {
    text-align: left;
    color: rgb(60, 122, 152);
}

/*CONT*/
.container {
    padding-bottom: 200px;
}
/*CATEG*/
.categories {
    margin: 80px 0 80px 0;
}
/*2 number*/
.price {
    background: url(../images/цена.png) no-repeat center;
    background-size: 100% 100% ;
    font-size: medium;
    padding: 9px 37px 6px 15px;
    white-space: nowrap; 
  }
  
  .back{
    background: url(../images/задник.png) no-repeat center;
    background-size: 100% 100% ;
    font-size: small;
    padding: 15px 0px 20px 15px;
    white-space: nowrap   
  }
  .back1{
 
    background-size: 100% 100% ;
    font-size: small;
    padding: 15px 0px 20px 15px;
    white-space: nowrap   
  }

  .sorting {
    background: url(../images/сортировать.png) no-repeat center;
    background-size: 100% 100%;
    font-size: small;
    padding: 15px 10px 15px 10px;
    white-space: nowrap;
}



.media {
    margin-bottom: 20px;
    flex-direction: column;
}

.category-header {
    width: 100%;
    display: flex;
    align-items: center;
}

.category-title {
    font-family: 'RotondaBold';
    color: rgb(45, 93, 126);
}

.category-items {
    padding: 0;
    margin: 10px 0 0 0;
    list-style: none;
}

.category-items a {
    color: black;
}

.category-items a:hover {
    color: black;
}

.category-item-title {
    text-transform: uppercase;
    font-weight: 500;
}

.category-item-title:not(:first-child) {
    margin-top: 20px;
}

.banner {
    margin-top: 50px;
}

/*SIDEBAR*/
.sidebar {
    margin: 30px 0 80px 0;
}

.sidebar > div {
    margin-bottom: 30px;
}

/*RECYCLE-BIN*/
.recycle-bin {
    background: url(../images/тучка.png) no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rb-wrapper {
    padding: 30px 0 20px 90px;
}

.rb-wrapper * {
    display: block;
    margin-bottom: 5px;
}

.rb-wrapper h6 {
    font-family: 'RotondaBold';
}

#issue-btn {
    margin: 10px 0 5px 0;
    border-radius: 30px;
}

#issue-btn-text {
    font-family: 'RotondaBold';
    margin: 0;
}

#blockd {
    background:url(../images/box3.png);
    height: 1px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.blockdr {
    background: url('../images/b6round.png') no-repeat;
    background-size: cover;
    margin: 10px;
    float: left;
    width: 30px;
    cursor: pointer;
    height: 30px;
}

.blockdb {
    background: url('../images/b6block.png') no-repeat;
    background-size: cover;
    margin: 10px;
    float: left;
    width: 70px;
    height: 30px;
    cursor: pointer;
}

/*BRANDS*/
.brands {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.b-wrapper {
    background: url(../images/правый-блок.png) no-repeat center;
    background-size: 100% 100%;
    padding: 35px 0 60px 30px;
}

/*DELIVERY*/
.delivery {
    margin-right: 20px;
}

.d-wrapper {
    background: url(../images/доставка-фон.png) no-repeat center;
    background-size: cover;
    text-align: right;
    margin-left: 60px;
    padding: 20px 20px 40px 10px;
    line-height: initial !important;
}

/*NEWS*/
.news {
    background: url(../images/podnovosti.png) no-repeat center;
    background-size: cover;
    margin-left: 60px;
    margin-right: 20px;
    padding: 30px;
    padding-bottom: 60px;
}

.date {
    background: rgb(144, 193, 232);
    color: white;
    font-family: 'RotondaBold';
    padding: 6px 10px 6px 10px;
    width: 120px;
    position: relative;
}

.date::after {
    content: '';
    display: block;
    width: 20px;
    height: 40px;
    background: white;
    position: absolute;
    top: 0;
    right: -5px;
    transform: rotate(15deg);
}

.news-card-title {
    text-decoration: underline;
    color: rgb(60, 122, 151);
    margin-top: 10px;
    display: block;
}

.more {
    text-decoration: underline !important;
    color: initial;
}

.back_zakaz{
    background: url("../images/bg.png") no-repeat center;
    background-size: contain;
    font-size: small;
    padding: 0 0 10px 0;
}

.list1{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

.list{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 30px;
}


/*FOOTER*/
footer {
    background: url(../images/футер.png) repeat-x 100% 100%;
    height: 200px;
    margin-top: -200px;
    position: relative;
}

footer .row {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 30px;
}

#logo-footer {
    position: absolute;
    bottom: -40px;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../images/соцсети.png) no-repeat;
}

#twitter { background-position: left top; }

#vk { background-position: -30px top; }

#fb { background-position: -60px top;}

#pen { background-position: -90px top; }

#rss { background-position: -120px top; }

#mail { background-position: -150px top; }

#ok { background-position: -180px top; }

.phone-number {
    font-family: 'RotondaBold';
    font-size: 2em;
    position: relative;
    padding-left: 40px;
}

.phone-number::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: 0;
    background: url(../images/phone.png) no-repeat center;
    background-size: contain;
}

.phone-number-stroke::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: -5px;
    background: url(../images/значек-телефона.png) no-repeat center;
    background-size: contain;
}

.cena1 {
    background: url(../images/доставка-фон.png) no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cena2 {
    padding: 0px 0px 20px 45px;
}

.vid1 {
    background: url(../images/box5.png) no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.vid2 {
    padding: 40px 40px 30px 70px;
}

.brend1 {
    background: url(../images/brend.png) no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.brend2 {
    padding: 50px 0px 90px 70px;
}

.order-box {
    background: url(../images/order_back.png) no-repeat center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 1050px;
    margin: auto;
}



.order-wrapper {
    width: 60%;
    height: 65%;
    margin-bottom: 120px;
    overflow-y: auto;
}

.order-box h1 { text-align: center; }

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form input { width: 80%; }

.order { margin: 20px 0 20px 0; }

.order-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.order-item {
    background: url(../images/product_box.png) no-repeat center;
    background-size: 95% 100%;
    padding: 20px 30px 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.order-item span:first-child { width: 50%; }

.remove-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/remove.png) no-repeat center;
    background-size: 20px;
}

.remove-btn:hover { cursor: pointer; }

.text-darkblue {
    color: var(--darkblue-color);
    font-weight: 500;
}


.order-btn {
    background: linear-gradient(#fde800, #f8c700);
    border: 2px dashed #f8c504;
    padding-left: 30px;
    padding-right: 30px;
}

.order-btn .caption { margin: 0; }

.order-info ul {
    padding: 0;
    list-style: none;
}

.order-info ul li::before {
    content: '·';
    margin-right: 5px;
    margin-left: -10px;
}

input[type=radio] { display: none; }

.form-caption {
    position: relative;
    padding-left: 30px;
    font-size: 1.2em;
}

.form-caption::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    border-radius: 100px;
    background: url(../images/radio.png) no-repeat center,
                white;
    background-size: cover;
    background-position: bottom left;
}

.form-label input[type=radio]:checked + .form-caption::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    border-radius: 100px;
    background: url(../images/radio.png) no-repeat center,
                white;
    background-size: cover;
    background-position: top left;
}

.form-label:hover { cursor: pointer; }

#bs4 {
    background:url('../images/box5.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 370px;
    margin-bottom: 20px; 
    padding-right: 190px;
    padding-left: 10px;
    padding-top: 80px;
}

#bs5 {
    background:url('../images/каталог.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 560px;
    margin-bottom: 20px; 
    padding-right: 55px;
    padding-left: 10px;
    padding-top: 40px;
}


#amount {
    border:0; 
    color:#e24646; 
    font-weight:bold;
}

#slider1 {
    border:0; 
    padding-right: 140px;
    padding-top: 80px;
}

.category-items {
    padding: 0;
    margin: 10px 0 0 0;
    list-style: none;
}

.category-items-1 {
    list-style-image: url(../images/yacheyka.png) !important;
    padding: 0;
    cursor: pointer;
    margin: 10px 0 0 0;
}

.category-items-1 > ul > li{
    background:url(../images/yacheyka.png) !important;
    float: left;
    cursor: pointer;
    padding-left: 20px;
}

.category-items-1 > ul > li.active{
    background:url(../галочкавыбора/.png) !important;
    float: left;
    cursor: pointer;
    padding-left: 20px;
}

li {
    list-style-type: none; 
   }
   ul {
    margin-left: 0; 
    padding-left: 0;
}

.category-items-1 a {
    color: black;
}

.category-items-1 a:hover {
    color: black;
}

.category-items a {
    color: black;
}

.category-items a:hover {
    color: black;
}

.category-item-title {
    text-transform: uppercase;
    font-weight: 500;
}

.category-item-title:not(:first-child) {
    margin-top: 20px;
}

.filter > ul > li{
    background:url('../images/plus.png') no-repeat;
    float: left;
    cursor: pointer;
    padding-left: 20px;
}

.filter > ul > li.active{
    background:url('../images/minus.png') no-repeat;
    float: left;
    cursor: pointer;
    padding-left: 20px;
}   

.filter > ul > li .child{
    display: none;
}

.filter > ul > li.active .child{
    display: block;
}


#sky-num { color: rgb(74, 140, 191); }

#blue-num { color: rgb(6, 70, 95); }

#skyblue-num { color: rgb(45, 93, 126); }